#prvi{
    width: 100px;
    height: 100px;
    background-color: deeppink;
}
#drugi{
    width: 100px;
    height: 100px;
    background-color: lightblue;
    position: relative;
    left: 100px;
    bottom: 100px;
}
#treci{
    width: 100px;
    height: 100px;
    background-color: lightgreen;
    position: relative;
    bottom: 100px;
}
